.answerField {
  $startWidth: 25px;
  width: $startWidth;
  min-width: $startWidth;
  margin: 0 3px;
  padding: 0;
  padding-left: 1px; // to center text without also centering the cursor
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background-image: none !important; // remove things like lastpass adding a bg img
}

.answerFieldText {
  font-size: 16px;
}

.disabled {
  opacity: .5;
}