:global {
  body {
    margin: 0;
    background: #f7f7f7;
  }

  #app {
    display: flex;
    justify-content: center;
  }

  .instructions {
    font-size: 14px;
    color: #404040;
    margin: 1em 0;

     li {
       margin: 0.5em 0;
     }
  }

  .invalid {
    color: red;
  }
}

.root {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 700px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #eaeaea;
  background: #fff;
  color: #464646;

  &, & * {
    font-family: Helvetica, sans-serif;
  }
}

.invalid {
  color: red;
}